<section class="cart">
    <div class="order container mx-auto w-1/2 py-16">
        <div class="cart-head flex items-center pb-8 ">
            <img src="/images/cart-black.png" alt="">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1> 
            <br>
        </div>
        <%if (session.cart){ %>
        <div class="order-list">
            <% for(let biryani of Object.values(session.cart.items)) { %>
            <div class="flex items-center my-8">
                <img class="w-28" src="/images/<%=biryani.item.image%>" alt="">
                <div class="flex-1 ml-8 font-lg font-bold">
                    <h1 class="text-xl font-bold"> <%=biryani.item.name%></h1>
                    <span class="ml-12"><%=biryani.item.size%></span>
                </div>
                <span class="flex-1 text-2xl"><%=biryani.qty%> pcs</span>
                <span class="font-bold  text-2xl">₹ <%=biryani.qty * biryani.item.price%></span>
            </div>
        <% } %>

        </div>
        <div class="text-right py-4">
            <div class="">
                <span class="text-lg font-bold">Total Amount :</span>
                <span class="amount text-2xl font-bold ml-2 "> ₹ <%= session.cart.totalPrice %></span>
            </div>
            <div class="">
                <% if(user) {%>
                <form action="/orders" method="POST" class="mt-10">
                    <input name="phone" class="border border-gray-400 p-2 w-1/4 mb-4" type="text" placeholder="Phone Number">
                    <br>
                    <input name='address' class="border border-gray-400 p-2 w-3/4 mb-4" type="text" placeholder="Address"> 
                    <div class="">
                        <button class="px-6 py-4 rounded-full font-bold ml-48 ">Proceed to Buy</button>
                    </div>
                </form>    
                <%} else {%>
                <a href="/login"><button class="px-6 py-4 rounded-full font-bold ml-48 ">Login to Continue</button></a>
                <% } %>
            </div>
        </div>
    </div>

    <%} else {%>

    <div class="empty-cart py-20 mb-30">
        <div class="container mx-auto text-center">
            
            <div class="flex items-center justify-around mb-12">
                <div>
                    <img  class="w-2/5 mx-auto" src="/images/empty-cart.png" alt="">
                </div>
                <div class="pr-40">
                    <div >
                        <h1 class="text-3xl font-bold mb-2 ">Cart Empty</h1>
                        <p class="text-red-900 text-xl mb-2">Probably you have not ordered something yet.</p>
                        <p class="text-red-900 text-xl mb-2" >To order go to the Main page.</p>
                    </div>
                    <br><br>
                    <a href="/">
                    <button class="ui left  orange icon labeled  button">
                        <i class="left arrow icon"></i>Go Back
                    </button>
                    </a>
                </div>    
            </div>
    
        </div>
    </div>
    <% } %>
</section>

<p class="text-center p-16 text-gray-500 text-xs">
    &copy;2021 Pahadi_BHOG. All rights reserved.
</p>

